.text-primary {
    color: #188AE2;
}
.text-info {
    color: #35B8E0;
}
.text-success {
    color: #2AAF65;
}
.text-warning {
    color: #FAC037;
}
.text-danger {
    color: #F1261F;
}
.text-black-1 {
    color: rgba(0, 0, 0, .1);
}
.text-black-2 {
    color: rgba(0, 0, 0, .2);
}
.text-black-3 {
    color: rgba(0, 0, 0, .3);
}
.text-black-4 {
    color: rgba(0, 0, 0, .4);
}
.text-black-5 {
    color: rgba(0, 0, 0, .5);
}
.text-black-6 {
    color: rgba(0, 0, 0, .6);
}
.text-black-7 {
    color: rgba(0, 0, 0, .7);
}
.text-black-8 {
    color: rgba(0, 0, 0, .8);
}
.text-black-9 {
    color: rgba(0, 0, 0, .9);
}
.text-black-10 {
    color: rgba(0, 0, 0, .10);
}
.text-white {
    color: #fff;
}

.bgg-primary {
    background-color: #188AE2;
}
.bgg-info{
    background-color: #35b8e0;
}
.bgg-success {
    background-color: #2AAF65;
}
.bgg-warning {
    background-color: #FAC037;
}
.bgg-danger {
    background-color: #F1261F;
}

.bgg-black {
    background-color: #000;
}
.bgg-white {
    background-color: #FFF;
}
.bgg-container {
    background-color: #f3f3f3;
}

.width-100 {
    width: 100%;
}
.height-100 {
    height: 100%;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.float-clear {
    float: none !important;
}

.hover-pointer {
    cursor: pointer;
}

.fs-12 {
    font-size: 12px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-24 {
    font-size: 24px !important;
}
.fs-26 {
    font-size: 26px !important;
}
.fs-28 {
    font-size: 28px !important;
}
.fs-30 {
    font-size: 30px !important;
}
.fs-32 {
    font-size: 32px !important;
}

.mh-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.mh-1 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.mh-2 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.mh-3 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.mh-4 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.mh-5 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.mv-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mv-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.mv-2 {
    padding-left: 8px !important;
    padding-bottom: 8px !important;
}
.mv-3 {
    padding-left: 12px !important;
    padding-bottom: 12px !important;
}
.mv-4 {
    padding-left: 16px !important;
    padding-bottom: 16px !important;
}
.mv-5 {
    padding-left: 20px !important;
    padding-bottom: 20px !important;
}

.ma-0 {
    margin: 0 !important;
}
.ma-1 {
    margin: 4px !important;
}
.ma-2 {
    margin: 8px !important;
}
.ma-3 {
    margin: 12px !important;
}
.ma-4 {
    margin: 16px !important;
}
.ma-5 {
    margin: 20px !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.ml-1 {
    margin-left: 4px !important;
}
.ml-2 {
    margin-left: 8px !important;
}
.ml-3 {
    margin-left: 12px !important;
}
.ml-4 {
    margin-left: 16px !important;
}
.ml-5 {
    margin-left: 20px !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mr-1 {
    margin-right: 4px !important;
}
.mr-2 {
    margin-right: 8px !important;
}
.mr-3 {
    margin-right: 12px !important;
}
.mr-4 {
    margin-right: 16px !important;
}
.mr-5 {
    margin-right: 20px !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: 4px !important;
}
.mt-2 {
    margin-top: 8px !important;
}
.mt-3 {
    margin-top: 12px !important;
}
.mt-4 {
    margin-top: 16px !important;
}
.mt-5 {
    margin-top: 20px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 4px !important;
}
.mb-2 {
    margin-bottom: 8px !important;
}
.mb-3 {
    margin-bottom: 12px !important;
}
.mb-4 {
    margin-bottom: 16px !important;
}
.mb-5 {
    margin-bottom: 20px !important;
}
.pa-0 {
    padding: 0 !important;
}
.pa-1 {
    padding: 4px !important;
}
.pa-2 {
    padding: 8px !important;
}
.pa-3 {
    padding: 12px !important;
}
.pa-4 {
    padding: 16px !important;
}
.pa-5 {
    padding: 20px !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pl-1 {
    padding-left: 4px !important;
}
.pl-2 {
    padding-left: 8px !important;
}
.pl-3 {
    padding-left: 12px !important;
}
.pl-4 {
    padding-left: 16px !important;
}
.pl-5 {
    padding-left: 20px !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pr-1 {
    padding-right: 4px !important;
}
.pr-2 {
    padding-right: 8px !important;
}
.pr-3 {
    padding-right: 12px !important;
}
.pr-4 {
    padding-right: 16px !important;
}
.pr-5 {
    padding-right: 20px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-1 {
    padding-top: 4px !important;
}
.pt-2 {
    padding-top: 8px !important;
}
.pt-3 {
    padding-top: 12px !important;
}
.pt-4 {
    padding-top: 16px !important;
}
.pt-5 {
    padding-top: 20px !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pb-1 {
    padding-bottom: 4px !important;
}
.pb-2 {
    padding-bottom: 8px !important;
}
.pb-3 {
    padding-bottom: 12px !important;
}
.pb-4 {
    padding-bottom: 16px !important;
}
.pb-5 {
    padding-bottom: 20px !important;
}